body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0f0f0f; 
    color: #00ff00; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    background-color: #000;
    color: #00ff00;
    padding: 10px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    background-color: #00ff00;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #00ff00;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
